# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Google Credentials
credentials.json
token.json
data/credentials.json
data/token.json

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store

# Python Cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/

# Local databases
*.sqlite3